<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<!-- enable use-expressions -->
	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/regEmployee/raiseATArrovalRequest" access="hasAnyRole('ROLE_REGULAR_EMP','ROLE_SYS_MANAGER')" />
		<intercept-url pattern="/regEmployee/searchUserByName" access="hasAnyRole('ROLE_REGULAR_EMP','ROLE_SYS_MANAGER','ROLE_NORMAL_USER')" />
		<intercept-url pattern="/regEmployee**" access="hasAnyRole('ROLE_REGULAR_EMP','ROLE_SYS_MANAGER')" />
		<intercept-url pattern="/regEmployee/**" access="hasRole('ROLE_REGULAR_EMP')" />
		<intercept-url pattern="/regularEmployee**" access="hasRole('ROLE_REGULAR_EMP')" />
		<intercept-url pattern="/regularEmployee/**" access="hasRole('ROLE_REGULAR_EMP')" />
		<intercept-url pattern="/systemManager**" access="hasRole('ROLE_SYS_MANAGER')" />
		<intercept-url pattern="/systemManager/**" access="hasAnyRole('ROLE_SYS_MANAGER','ROLE_ADMIN')" />
		<intercept-url pattern="/normalUser**" access="hasRole('ROLE_NORMAL_USER')" />
		<intercept-url pattern="/normalUser/**" access="hasRole('ROLE_NORMAL_USER')" />
		
		<intercept-url pattern="/workOnRequest" access="hasAnyRole('ROLE_REGULAR_EMP','ROLE_SYS_MANAGER','ROLE_ADMIN')" />
		<intercept-url pattern="/approveAccountPermission" access="hasAnyRole('ROLE_SYS_MANAGER','ROLE_ADMIN','ROLE_NORMAL_USER')" />
		<intercept-url pattern="/denyAccountPermission" access="hasAnyRole('ROLE_SYS_MANAGER','ROLE_ADMIN','ROLE_NORMAL_USER')" />
		<intercept-url pattern="/createTransactionForExternal" access="hasAnyRole('ROLE_REGULAR_EMP','ROLE_SYS_MANAGER')" />
		<intercept-url pattern="/searchUserByName" access="hasAnyRole('ROLE_REGULAR_EMP','ROLE_SYS_MANAGER')" />
		<intercept-url pattern="/regEmployee/raiseATArrovalRequest" access="hasAnyRole('ROLE_REGULAR_EMP','ROLE_SYS_MANAGER')" />
		<intercept-url pattern="/regEmployee/searchUserByName" access="hasAnyRole('ROLE_REGULAR_EMP','ROLE_SYS_MANAGER')" />
		<intercept-url pattern="/regEmployee/raiseArrovalRequest" access="hasAnyRole('ROLE_REGULAR_EMP','ROLE_SYS_MANAGER')" />
		<intercept-url pattern="/regularEmployee/askPermission" access="hasAnyRole('ROLE_REGULAR_EMP','ROLE_SYS_MANAGER')" />
		<intercept-url pattern="/approveAccountPermission" access="hasAnyRole('ROLE_ADMIN','ROLE_NORMAL_USER')" />
		<intercept-url pattern="/denyAccountPermission" access="hasAnyRole('ROLE_REGULAR_EMP','ROLE_SYS_MANAGER')" />
		<intercept-url pattern="/transactionRequest" access="hasAnyRole('ROLE_REGULAR_EMP','ROLE_SYS_MANAGER','ROLE_ADMIN','ROLE_NORMAL_USER')" />
		<intercept-url pattern="/regularEmployee/viewAccountDetails" access="hasAnyRole('ROLE_REGULAR_EMP','ROLE_SYS_MANAGER')" />
		<intercept-url pattern="/regularEmployee/askAccountPermission" access="hasAnyRole('ROLE_REGULAR_EMP','ROLE_SYS_MANAGER')" />
		<intercept-url pattern="/regularEmployee/askTransactionPermission" access="hasAnyRole('ROLE_REGULAR_EMP','ROLE_SYS_MANAGER')" />
		<intercept-url pattern="/regularEmployee/viewAccountDetails" access="hasAnyRole('ROLE_REGULAR_EMP','ROLE_SYS_MANAGER')" />
		<intercept-url pattern="/regularEmployee/askAccountPermission" access="hasAnyRole('ROLE_REGULAR_EMP','ROLE_SYS_MANAGER')" />
		<intercept-url pattern="/regularEmployee/viewTransactionDetails" access="hasAnyRole('ROLE_REGULAR_EMP','ROLE_SYS_MANAGER')" />
		
		<intercept-url pattern="/requests**" access="isAuthenticated()" />
		
		<!-- access denied page -->
		<access-denied-handler error-page="/403" />
		<form-login 
		    login-page="/login" 
		    default-target-url="/welcome"
			authentication-failure-url="/login?error" 
			username-parameter="username"
			password-parameter="password" 
			authentication-success-handler-ref="myAuthenticationSuccessHandler"/>
		<logout logout-success-url="/login?logout" />
		<!-- enable csrf protection -->
		<csrf />
	</http>
		    
    
        
	<authentication-manager>
		<authentication-provider ref="daoAuthenticationProvider">
		</authentication-provider>
	</authentication-manager>
		
</beans:beans>
